#layout-paper{
    width: calc(98% + 4px);
    height: 30px;
    position: fixed;
    top:52px;
    border-radius:23px 23px 0 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 21px;
    padding-top: 4px;
    font-size: 18px;
    z-index: 10;
}
#layout-paper-divider{
    width: 99%;
    position: fixed;
    top:86px;
    z-index: 10;
}

.layout-add-icon{
    position:fixed;
    bottom: 40px;
    right: 40px;
}

@media only screen and (max-width: 500px){
    .layout-add-icon{
        bottom: 20px;
        right: 20px;
    }
}